<html>
    <head>
    <title></title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type ="text/javascript">
        </script>
    </head>
    <body>
        <h2>Welcome to add new breed</h2>
        <form action="/update/<%= dog._id %>" method="post">
            Breed: <input type="text" name="breed" value="<%= dog.breed %>"><br>
            Color: <input type="text" name="color1" value="<%= dog.color %>"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>