<html>
    <head>
    <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type ="text/javascript">
        </script>
    </head>
    <body>

        <a href="/#">Team</a> | <a href="">Members</a>


        <form action="/team" method="post">
            <input type="text" name="name">
            <input type="submit" value="Add Team">
        </form>

        <h2>Teams</h2>

        <% for(i in teams){ %>
            Name: <a href="/teams/<%= teams[i].id %>"><%= teams[i].name %></a><br>
        <% } %>

    </body>
</html>