<html>
<head>
<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
    </script>
</head>
<body>
    <h2>Here are the awesome quotes!</h2>
    <% for(i in info){ %>
        <p><%= info[i].quote %></p>
        <p>-<%= info[i].name + ' at ' + info[i].time %></p>
        <hr>
    <% } %>
</body>
</html>