<html>
<head>
<title>Team</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type ="text/javascript">
    </script>
</head>
<body>

    <a href="/">Team</a> | <a href="/#">Members</a>
    <form action="/members/<%= info.team.id %>" method="post">
        <label for='member'>Name
    	<input type="text" name="name">
    	<input type="submit" value="Add Member">
    </form>


    <p>Team name: <%= info.team.name %></p>
    <h2>Team Members</h2>
    	<% for(i in info.members) { %>
    		<p><%= info.members[i].name %></p>
    	<% } %>

</body>
</html>